body{
    background: hotpink;
}
.base{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.one{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid rgba(255,255,255,0.6);
    left: -128px;
    top: -60px;
}
.two{
    width: 0; 
    height: 0;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid  rgba(255,255,255,0.3);
    transform: rotate(180deg);
    left: -88px;
    top: -60px;
}
.three{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid rgba(255,255,255,0.4);
    left: -49px;
    top: -60px;
}
.four{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid rgba(255,255,255,0.4);
    transform: rotate(180deg);
    left: -9.1px;
    top: -60px;
}
.five{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid rgba(255,255,255,0.7);
    left: 30px;
    top: -60px;
}
.six{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 150px solid rgba(255,255,255,0.4);
    transform: rotate(180deg);
    left: -70px;
    top: 0px;
}
.seven{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 60px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 150px solid rgba(255,255,255,0.6);
    transform: skewX(-22deg) rotate(180deg);
    z-index: -1;
    left: 20px;
    top: 0px;
}
.eight{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 60px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 150px solid rgba(255,255,255,0.3);
    transform: skewX(38.5deg) rotate(180deg);
    left: -69px;
    top: 0px;
}